/* Estilos del Carousel */
.carousel { 
    padding: 0;
    height: 500px;
    width: 80%;
    border-radius: 20px !important;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
    height: 100%;
    width: 100%;
}

.carousel-item img {
    object-fit: cover;
    border-radius: 20px !important;

}
