.testimonios {
    &__title {
      color: #fefeff;
      text-align: center;
    }
  
    &__testimonial {
      margin-bottom: 20px;
      text-align: center;
  
      &-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 auto;
        border: 2px solid #fff
      }
  
      &__text {
        color: #BBA795;
        font-style: italic;
        display: flex !important;
        justify-content: center !important;   
        align-items: center !important;       
        flex-direction: column !important; 
      }
  
      &__author {
        color: #BBA795;
      }
    }
  }
  