/*ESTILOS GENERALES*/
body {
    font-family: "Open Sans", sans-serif !important;
    background-color: #000;
    color: white;
}

.margen-horizontal {
    margin-left: 10%!important;
    margin-right: 10%!important;
}
