/* Estilos Footer*/
.footer {
    background-color: #0dcaf0;
    text-align: center;
    padding: 1rem;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.icon-footer {
    display: flex;
    justify-content: center;
}
